
graph {
  fill-color: #efffff;
}

/* .node:not(.node#0)*/
node {
  shape: circle;
  size: 40px, 40px;
  fill-color: #ffffff;
  fill-mode: plain;
  stroke-mode: plain;
  stroke-color: #3333aa;
  text-mode: normal;
  text-alignment: center;
  text-size: 11px;
  text-color: #3333aa;
  text-offset: 0px, -3px;
}

node.visited {
  size: 41px, 41px;
  stroke-color: #885566;
  text-size: 14px;
  text-color: #995566;
}

node.highlighted {
  size: 22px, 22px;
  stroke-color: #880011;
  text-size: 16px;
  text-color: #550044;
  text-style: bold;
  fill-color: #ffbb99;
  fill-mode: plain;
  z-index: 20;
}

edge {
  text-size: 11px;
  text-alignment: along;
  text-background-mode: none;
  text-color: #8899dd;
  text-alignment: under;
  stroke-mode: plain;
  fill-color: rgba(10, 0, 80, 190);
  stroke-mode: none;
  arrow-size: 0px, 0px;
  size: 4;
}

edge.large {
  text-mode: hidden;
}

edge.visited {
  text-size: 12px;
  text-color: #882222;
  text-mode: normal;
  stroke-mode: none;
  /*text-style: bold; */
  stroke-color: #887799;
  size: 2;
  z-index: 5;
}

edge.highlighted {
  arrow-size: 6px, 6px;
  text-mode: normal;
  text-size: 14px;
  text-color: #220000;
  stroke-mode: plain;
  /* fill-color: #992222; */
  stroke-color: #991111;
  size: 3;
  z-index: 10;
}
